<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>SYMBNB -{% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
               
        {% block stylesheets %}{{ encore_entry_link_tags('css/app') }}{% endblock %}
    </head>
    <body>
        {% include "partials/_header.html.twig" %}
        {% block body %}{% endblock %}
        {% include "partials/_footer.html.twig" %}

        {{ encore_entry_script_tags('js/app') }} 

        {% block javascripts %}        
                <script defer src="https://friconix.com/cdn/friconix.js"> </script>                
        {% endblock %}
    </body>
</html>
